header {
  img {
    @media screen and (max-width: 991px) {
      width: 30px;
      height: 30px;
    }

    @media screen and (min-width: 992px) {
      width: 150px;
      height: 150px;
    }
  }

  @media screen and (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 10px black;
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  @media screen and (min-width: 992px) {
    padding-top: 1rem;
    position: sticky;
    top: 0;
  }
}
