header {
  @media screen and (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 10px black;
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  @media screen and (min-width: 992px) {
    position: sticky;
    top: 0;
  }
}
